/*.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 50px;
  width: 35%;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}
.listing-location {
  padding: 20px 30px 25px 15px;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 30px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
button {
  background-color: darkgreen;
  color: aliceblue;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}*/

.results{
  display:grid;
  column-gap:14px;
  row-gap:14px;
  grid-template-columns: repeat(auto-fill,minmax(400px,400px));
  margin-top:50px;
  justify-content: space-around;
  color:whitesmoke;
}
input[type="text"]{
  border:solid 1px var(--primary-color);
  padding:10px;
  border-radius: 8px;
  margin-right:4px;
  display: inline-block;
  width:30;
  color:forestgreen;
}
button {
  padding: 10px;
  border:solid 1px var(--primary-color);
  color:whitesmoke;
  background-color:darkblue;
  border-radius:15px;
}
@media (mid-width: 500px) and (mad-width:768) {
  .result{
    grid-template-columns: repeat(2,1fr);
  }
  input[type="text"] {
    width:70%;
  }
}
@media (mad-width: 399px) {
  .results{
    grid-template-columns: 1fr;
  }
}
title{
  color: green;
}
.green{
  color:green;
  font-weight: bold;
}
